<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima Já - Pagina de previsão do tempo</title>
    <!-- Estilos principais -->
    <link rel="stylesheet" href="/styles/css/homePageStyles.css" />
    <!-- Font Awesome para ícones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" type="imagex/png" href="/assets/climaJa-minilogo.ico">
    <!-- Scripts de interação -->
    <script defer type="module" src="/src/scripts/homePageMain.js"></script>
    <script defer type="module" src="/src/scripts/handlers/citySearchHandler.js"></script>
    <script defer type="module" src="/src/scripts/utils/domUtils.js"></script>
    <script defer type="module" src="/src/scripts/handlers/weatherHandler.js"></script>
    <script defer type="module" src="/src/scripts/services/weatherService.js"></script>
    <script defer src="/src/scripts/handlers/themeHandler.js"></script>
  </head>
  <body>
    <!-- Cabeçalho: logo, título e navegação -->
    <header id="header">
      <img src="/assets/ClimaJa-logo.png" alt="Logo ClimaJá!" />
      <h1>Bem Vindo ao ClimaJá!</h1>
      <i class="fa-solid fa-circle-half-stroke"></i>
      <nav>
        <% if (user) { %>
        <a href="/logout">Sair</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/registro">Registrar</a>
        <% } %>
      </nav>
    </header>

    <!-- Conteúdo principal -->
    <main>
      <!-- Formulário de busca por cidade -->
      <div id="container">
        <form id="search">
          <i class="fa-solid fa-location-dot"></i>
          <input
            type="search"
            name="city_name"
            id="city_name"
            placeholder="Deseja saber o clima de qual cidade"
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <!-- Seção de exibição do clima -->
        <section id="weather">
          <h1 id="title"></h1>

          <div id="infos">
            <!-- Temperatura principal -->
            <div id="temperature">
              <img
                id="temperature_img"
                src=""
                alt="Ícone de clima"
              />
              <div>
                <p id="temperature_value"></p>
                <p id="temperature_description"></p>
              </div>
            </div>

            <!-- Informações adicionais -->
            <div id="more_infos">
              <div class="info">
                <i
                  class="fa-solid fa-temperature-high temperature-max-icon"
                ></i>
                <div>
                  <h2>Máxima</h2>
                  <p class="temperature_max"></p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-temperature-low temperature-min-icon"></i>
                <div>
                  <h2>Mínima</h2>
                  <p class="temperature_min"></p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-droplet humidity-icon"></i>
                <div>
                  <h2>Humidade</h2>
                  <p class="humidity"></p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-wind wind-icon"></i>
                <div>
                  <h2>Vento</h2>
                  <p class="wind"></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Alerta dinâmico -->
        <div id="warn"></div>
      </div>

      <section id="recomendations">
        <!-- Recomendações de cidades favoritas -->
        <% if (typeof user !== 'undefined' && user && user.favoriteCities &&
        user.favoriteCities.length > 0) { %> %>
        <div id="favorite-cities-user">
          <h2>Cidades Favoritas</h2>
          <ul>
            <% user.favoriteCities.slice(0, 3).forEach(city => { %>
            <li><%= city %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <!-- Avisa o visitante que ele precisa ter uma conta para salvar cidades favoritas -->
        <% if (!user) { %>
        <div id="favorite-cities-visitant">
          <h2>Cidades Favoritas</h2>
          <p>Você deve ter uma conta para salvar uma cidade como favorita.</p>
        </div>
        <% } %>
      </section>
    </main>

    <footer class="footer">
        Made with
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="#f64348" stroke="#f64348" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
        </svg>
        by
        <a href="https://github.com/Gab0885" target="_blank">Gabriel Dias</a>
    </footer>
  </body>
</html>