<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clima Já</title>
    <!-- Estilos principais -->
    <link rel="stylesheet" href="/styles/css/style.css" />
    <!-- Font Awesome para ícones -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  <script defer type="module" src="/src/scripts/main.js"></script>
  <script defer type="module" src="/src/scripts/handlers/weatherHandler.js"></script>
  <script defer src="/src/scripts/handlers/themeHandler.js"></script>
  </head>
  <body>
    <!-- Cabeçalho: logo, título e navegação -->
    <header id="header">
      <img src="/assets/ClimaJa-logo.png" alt="Logo ClimaJá!" />
      <h1>Bem Vindo ao ClimaJá!</h1>
      <i class="fa-solid fa-circle-half-stroke"></i>
      <nav>
        <% if (user) { %>
        <a href="/logout">Sair</a>
        <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Registrar</a>
        <% } %>
      </nav>
    </header>

    <!-- Conteúdo principal -->
    <main>
      <!-- Formulário de busca por cidade -->
      <div id="container">
        <form id="search">
          <i class="fa-solid fa-location-dot"></i>
          <input
            type="search"
            name="city_name"
            id="city_name"
            placeholder="Deseja saber o clima de qual cidade"
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <!-- Seção de exibição do clima -->
        <section id="weather" class="show">
          <h1 id="title">São Paulo, SP</h1>

          <div id="infos">
            <!-- Temperatura principal -->
            <div id="temperature">
              <img
                id="temperature_img"
                src="http://openweathermap.org/img/wn/04d@2x.png"
                alt="Ícone de clima"
              />
              <div>
                <p id="temperature_value">26 <sup>Cº</sup></p>
                <p id="temperature_description">Ensolarado</p>
              </div>
            </div>

            <!-- Informações adicionais -->
            <div id="more_infos">
              <div class="info">
                <i
                  class="fa-solid fa-temperature-high temperature-max-icon"
                ></i>
                <div>
                  <h2>Temp. Máxima</h2>
                  <p class="temperature_max">26 <sup>Cº</sup></p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-temperature-low temperature-min-icon"></i>
                <div>
                  <h2>Temp. Mínima</h2>
                  <p class="temperature_min">20 <sup>Cº</sup></p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-droplet humidity-icon"></i>
                <div>
                  <h2>Humidade</h2>
                  <p class="humidity">45%</p>
                </div>
              </div>
              <div class="info">
                <i class="fa-solid fa-wind wind-icon"></i>
                <div>
                  <h2>Vento</h2>
                  <p class="wind">45 km/h</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section id="recomendations">
        <!-- Recomendações de cidades favoritas -->
        <% if (typeof user !== 'undefined' && user && user.favoriteCities &&
        user.favoriteCities.length > 0) { %> %>
        <div id="favorite-cities-user">
          <h2>Cidades Favoritas</h2>
          <ul>
            <% user.favoriteCities.slice(0, 3).forEach(city => { %>
            <li><%= city %></li>
            <% }); %>
          </ul>
        </div>
        <% } %>

        <!-- Avisa o visitante que ele precisa ter uma conta para salvar cidades favoritas -->
        <% if (!user) { %>
        <div id="favorite-cities-visitant">
          <h2>Cidades Favoritas</h2>
          <p>Você deve ter uma conta para salvar uma cidade como favorita.</p>
        </div>
        <% } %>
      </section>

      <!-- Alerta dinâmico -->
      <div id="warn"></div>
    </main>
  </body>
</html>
