<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar Usuário</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="shortcut icon"
      type="imagex/png"
      href="/assets/climaJa-minilogo.ico"
    />
    <link rel="stylesheet" href="/styles/css/registerStyle.css" />
    <script defer src="/src/scripts/handlers/showPasswordHandler.js"></script>
    <script src="/src/scripts/handlers/themeHandler.js"></script>
  </head>
  <body>
    <% if (typeof message !== 'undefined' && message) { %>
    <div class="message <%= type %>"><%= message %></div>
    <% } %>

    <main class="form-container">
      <header class="form-header">
        <h1 class="form-title">Criar Conta</h1>
        <a href="/auth/login" class="btn-default" aria-label="Ir para Login">
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
      </header>

      <form action="/user/register" method="post" class="form" novalidate>
        <div class="input-container">
          <div class="input-box">
            <label for="name" class="form-label">Nome</label>
            <div class="input-field">
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Digite seu nome"
                required
              />
              <i class="fa-regular fa-user"></i>
            </div>
          </div>

          <div class="input-box">
            <label for="email" class="form-label">E-mail</label>
            <div class="input-field">
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Digite seu e-mail (exemplo@gmail.com)"
                required
              />
              <i class="fa-regular fa-envelope"></i>
            </div>
          </div>

          <div class="input-box">
            <label for="password" class="form-label">Senha</label>
            <div class="input-field">
              <input
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Crie uma senha segura"
                required
              />
              <i class="fa-regular fa-eye-slash password-icon"></i>
            </div>
          </div>

          <div class="input-box">
            <label for="confirm_password" class="form-label"
              >Confirmar Senha</label
            >
            <div class="input-field">
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                class="form-control"
                placeholder="Repita a senha criada"
                required
              />
              <i class="fa-regular fa-eye-slash password-icon"></i>
            </div>
          </div>
        </div>

        <button type="submit" class="btn-default">
          <i class="fa-solid fa-check"></i>
          Criar Conta
        </button>
      </form>
    </main>
  </body>
</html>
